* { margin:0; padding:0; box-sizing:border-box; }

body {
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eef2ff;
  font-size: 13.33px;
}

textarea {
    width: 100%;
    font-size: 14px;
    line-height: 1.4;
    padding: 3px;
}

#root {
    height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
    height: 50px;
    background-color: #a1bbff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home {
    font-size: 18px;
    font-weight: 500;
}

.nav {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav > li {
    margin: 0px 10px 0px 10px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.postCommentLink {
    font-size: 16px;
}

#search {
    border-radius: 5px;
}

.createPostBtn {
    padding: 10px 20px;
    background: #fff;
    font-size: 16px;
    color: blue;
    border: 2px solid blue;
    border-radius: 5px;
}

.createPostBtn:hover {
    background: #ececec;
}

.submitFormInput {
    background-color: #1ca71c;
    margin: 0px 10px;
}

.submitFormInput:hover {
    background-color: #189218;
}

.cancelUploadBtn {
    background-color: #e24f3b;
}

.cancelUploadBtn:hover {
    background-color: #c34837;
}

.submitFormInput, .cancelUploadBtn {
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.createPostBtn, .cancelUploadBtn, .submitFormInput {
    cursor: pointer;
}

.thread {
    clear: both;
    margin: 0;
}

.threadContainer, .homeThread {
    padding: 5px;
}

.homeThread {
    margin-top: 20px;
    border-top: 1px #b9b9b9 solid;
}

hr {
    clear: both;
}

.threadFormContainer {
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: center;
}

div.opContainer {
    display: inline;
}

div.op {
    display: inline;
}

div.post {
    margin: 4px 0;
    overflow: hidden;
}

div.post div.file {
    display: block;
}

.fileInfo {
    max-width: 600px;
    white-space: nowrap;
}

.postInfo {
    width: 100%;
    padding-left: 5px;
}

.nameBlock {
    display: inline-block;
    color: green;
}

.sideArrows {
    color: #b7c5d9;
    float: left;
    margin-right: 2px;
    margin-top: 0;
    margin-left: 2px;
}

.thumbnail {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.thumbnail-exp, .vid-exp {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.replyLink {
    padding: 0 2px 0px 2px;
}

blockquote.postMessage {
    margin: 13.33px 40px;
    white-space: pre-wrap;
}

span.quote {
    color: #789922;
}

div.reply {
    background-color: #d6daf0;
    border: 1px solid #b7c5d9;
    border-left: none;
    border-top: none;
    display: table;
    padding: 2px;
}

.reply:target, .reply.highlight {
    background: #d6bad0!important;
    border: 1px solid #ba9dbf!important;
    border-left: none!important;
    border-top: none!important;
    padding: 2px;
}

.replyFormContainer {
    background: #b8d1dc;
    padding: 3px 2px;
    border: 1px solid grey;
    position: fixed;
    top: 50%;
    right: 10px;
}

.replyHeader {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
}

.closeFormBtn {
    float: right;
    margin-right: 5px;
}

.closeFormBtn:hover {
    cursor: pointer;
}

.formBtnsContainer {
    display: flex;
    justify-content: space-between;
}

.row {
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    padding: 25px 0px 25px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row > *{
    padding: 0px 15px 0px 15px;
}

.commentLink {
    font-size: 20px;
}

.miniThreads {
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.miniThreads > .miniThread {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 25%;
    height: 25%;
    margin-bottom: 50px;
}

.notFound {
    font-size: 28px;
    text-align: center;
}